* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.nav-link {
    color: yellow;
    text-decoration: none;
}

.navbar {
    position: sticky;
    width: 100vw;
    background-color: darkblue;
    top: 0;
    left: 0;
    padding: 8px;
    height: 10vh;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.navbar div {
    color: yellow;
    font-size: 2em;
    align-self: center;
    position: relative;
    left: 5%;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 8%;
    color: yellow;
    right: 0;
    padding-right: 5em;
    width: 60%;
    position: absolute;
    align-self: center;
}

.hero {
    height: 91vh;
    width: 100%;
    background-color: purple;
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.heading-line1 {
    font-size: 6rem;
}

.heading-line2 {
    font-size: 2rem;

}

.about {
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.summary {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary > h1 {
    font-size: 3em;
    position: relative;
}

.brief {
    width: 70%;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}

.skills {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.languages > img {
    width: 8em;
}

.css {
    transform: scale(0.78);
}

.python {
    position: relative;
    top: 10%
}

.certificates {
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-size: 1.6em;
}

.projects {
    height: 100vh;
    width: 100%;
    border: 2px solid;
}


.contact {
    height: 100vh;
    width: 100%;
    border: 2px solid;
}
