:root {
    --main-bg: #f4f4f9;
    --secondary-color: rgb(211, 211, 211);
    --accent-color: #ffffff;
    --main-font: #333333;
    --heading-font: "Raleway", sans-serif;
    --navbar-color: #1f2937;
    --navbar-text: #ffffff;
    --body-font: "Roboto", Tahoma;
}

* {
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
}

/* navbar */

.nav-link {
    color: var(--navbar-text);
    text-decoration: none;
}

.nav-link:visited {
    color: var(--navbar-text);
}

.navbar {
    position: sticky;
    width: 100vw;
    background-color: var(--navbar-color);
    top: 0;
    left: 0;
    padding: 8px;
    height: 10vh;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.navbar div {
    color: var(--navbar-text);
    font-size: 2em;
    align-self: center;
    position: relative;
    left: 5%;
    font-family: var(--heading-font);
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 8%;
    right: 0;
    padding-right: 5em;
    width: 60%;
    position: absolute;
    align-self: center;
    font-family: var(--body-font);
    list-style-type: none;
}

/* Welcome page */

.hero {
    height: 91vh;
    width: 100%;
    background-color: var(--main-bg);
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.heading-line1 {
    font-size: 6rem;
    color: var(--main-font);
    font-family: var(--heading-font);
}

.heading-line2 {
    font-size: 2rem;
    color: var(--main-font);
    font-family: var(--body-font);
}

/* About section */

.about {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
}

.summary {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary > h1 {
    font-size: 3em;
    position: relative;
    color: var(--main-font);
    font-family: var(--heading-font);
}

.brief {
    width: 70%;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    color: var(--main-font);
    font-family: var(--body-font);
}

article > a:link, a:visited {
    color: #3b82f6;
    text-decoration: none;
}

article > a:hover {
    color: #f4f4f9;
    background-color: #3b82f6;
}

.skills {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
}

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
    position: relative;
    top: 7%;
}

.language {
    font-size: 8em;
    z-index: 1;
    color: var(--main-font);
}

.certificates {
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-size: 1.6em;
    padding-top: 10%;
    color: var(--main-font);
    width: 70%;
}

.certificate {
    font-size: 0.9em;
    background-color: var(--secondary-color);
    border: 1px var(--main-font) solid;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    color: var(--main-font)
}

.certificate:hover {
    text-decoration: underline;
}

.certificate:visited {
    color: var(--main-font)
}



/* Projects section */

.projects {
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 0.1%;
}

.projects > h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 5%;
    color: var(--main-font);
    font-family: var(--heading-font);
}

.personal-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: var(--accent-color);
    border-radius: 10%;
    margin-bottom: 3%;
}

.project-img {
    width: 30em;
    height: 20em;
    object-fit: cover;
    margin-top: 7%;
    margin-bottom: 3%;
}

.project-caption {
    font-size: 1.3em;
    margin-bottom: 3%;
    color: var(--main-font);
    font-family: var(--body-font);
}

/* Contact Me */

.contact {
    width: 100%;
    padding-bottom: 7%;
    padding-top: 1%;
    background-color: var(--main-bg);
}

.contact > h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 3%; 
    color: var(--main-font);
    font-family: var(--heading-font);
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.social {
    font-size: 5em;
    color: black;
    color: var(--main-font);
}